{% extends "base.html" %} {% block content %}
<h1>Blog Management</h1>
<a class="button" href="{{ url_for('home') }}">Go Back</a>
<br />
<br />
{% if blogs %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Content</th>
            <th>Likes</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in blogs %}
        <tr id="blog-{{ blog.id }}">
            <td>
                <input
                    type="text"
                    value="{{ blog.name }}"
                    id="name-{{ blog.id }}"
                />
            </td>
            <td>
                <input
                    type="text"
                    value="{{ blog.title }}"
                    id="title-{{ blog.id }}"
                />
            </td>
            <td>
                <textarea id="content-{{ blog.id }}" rows="5">
{{ blog.content }}</textarea
                >
            </td>
            <td>{{ blog.likes }}</td>
            <td>
                <table class="comments-table">
                    {% for comment in comments if comment.blogid == blog.id %}
                    <tr id="comment-{{ comment.id }}">
                        <td>
                            <strong>{{ comment.username }}</strong><br />
                            {{ comment.comment }}
                        </td>
                        <td>
                            <button onclick="deleteComment({{ comment.id }})">
                                Delete Comment
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <button onclick="updateBlog({{ blog.id }})">Update</button>
                <button onclick="deleteBlog({{ blog.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h2>Add New Blog</h2>
<div class="add-blog-form">
    <input type="text" id="new-name" placeholder="Name" />
    <input type="text" id="new-title" placeholder="Title" />
    <textarea id="new-content" placeholder="Content" rows="5"></textarea>
    <button onclick="createBlog()">Add New Blog</button>
</div>
{% endblock %}
